.nav-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    // background-color: #fff;  
    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px;

    // .active {
    //     // border: 2px solid var(--primary);
    // }
}